<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<meta charset="utf-8">	<meta name="viewport" content="width=device-width">
	<title>DATABASE MANAGEMENT SYSTEM</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	
	<nav id="Navigation Bar">
		<ul>
			<a href="About-section">
				<li>ABOUT THE WEBSITE</li>
			</a>
			<a href="login-section">
				<li>LOGIN</li>
			</a>
			<a href="signup-section">
				<li>SIGNUP</li>
			</a>
			
		</ul>
	</nav>
	<!-- navbar ends -->

	<!-- info section start-->
	<section id="#About-section">
		<p class="text-center">
			<p>This project is all about software for Employee management system. It helps to have a full-fledged control over his/her employees. The project is divided into 2 sections to make the programme easy to understand.  
        It receives username and password to login and register. It keeps the record  of user salary ,his department of working, his performance in the office. It adds a new  employee, his salary, department, updates an existing salary ,list of employee, age and his performance.
        </p>
			<br>
     <a class="text-black" href="#two-section"><button></button></a>
    </p>
    </section>
    <!-- info section ends-->

       
      </fieldset>
      
      {% endif %}
      
  </body>
  
</html>


