<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<meta charset="utf-8">	<meta name="viewport" content="width=device-width">
	<title>DATABASE MANAGEMENT SYSTEM</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	
	<nav id="Navigation Bar">
		<ul>
			<a href="#About-section">
				<li>ABOUT THE WEBSITE</li>
			</a>
			<a href="#login-section">
				<li>LOGIN</li>
			</a>
			<a href="#signup-section">
				<li>SIGNUP</li>
			</a>
			
		</ul>
	</nav>
	<!-- navbar ends -->

	<!-- info section start-->
	<section id="#About-section">
		<p class="centered">
			
			<br>
     <a style="color:black;" href="#two-section"><button></button></a>
    </p>
    </section>
    <!-- info section ends-->

    <!-- 2 section start-->
    <section id="#Signup-section">
      <div class="c o"> 
      <h2><u>INTRODUCTION:</u></h2>
      <p>Please fill the signup form attached below</p><br>
      <fieldset>
        <legend> SIGNUP FORM </legend>
        <form id="signupform"
             <label>Name<label> 
               <input type="text" name="name" id="name"  placeholder="Enter your name- "required> 
      
            <label> Email </label>
            <input type="text" name="Email" id="Email"  placeholder="Enter your emailid-  "required> 

            <label> Name of the organisation </label>
            <input type="text" name="nameoftheorg" id="nameoftheorg"  placeholder="Name of the organisation-  "required> 

            <label> Password </label>
            <input type="text" name="password" id="password"  placeholder="Password-  "required>
      </fieldset>

            <img src= "https://www.google.com/search?q=hello+img&rlz=1C1SQJL_enIN914IN914&sxsrf=ALeKk00U_f42houkVnY7W1GRQWxbLI6K9g:1626455959396&tbm=isch&source=iu&ictx=1&fir=NRYQF6zu-4hzZM%252C44stCfGQ-1LFQM%252C_&vet=1&usg=AI4_-kQUi54zbzEyWxJsvSdpYDSY9ru-HA&sa=X&ved=2ahUKEwjR6M7NjOjxAhU8yjgGHTBYB9cQ9QF6BAgJEAE#imgrc=NRYQF6zu-4hzZM" alt="Phellosd icture" >
      
            </section></div>
      
      
      
      
      <textarea  cols="30" rows="10"></textarea>
      <textarea name="" id="" cols="50" rows="10"></textarea>
      
      
      <select required>
        <option disabled selected value>Select current role </option>
        <option> Administrator </option>
        <option> Employee </option>
      </select>

    <!-- 2 section ends-->

    <!-- 3 section start-->
    {% if page == 'signup' %}

    <section id="#login-section"></section>
    <nav id="Navigation Bar">
      <ul>
        <a href="#View_data">
          <li>View Data</li>
        </a>
        <a href="#Manupilate_data">
          <li>Manupilate Data</li>
        
    
      <div class="c o"> 
      <h2><u>LOGIN:</u></h2>
      <legend> LOGIN FORM </legend>
        <form id="loginform"
             <label>Name<label> 
               <input type="text" name="name" id="name"  placeholder="Enter your name- "required> <br>
      
            <label> Email </label>
            <input type="text" name="Email" id="Email"  placeholder="Enter your emailid-  "required> <br>

            <label> Name of the organisation </label>
            <input type="text" name="nameoftheorg" id="nameoftheorg"  placeholder="Name of the organisation-  "required><br> 

            <label> Password </label>
            <input type="text" name="password" id="password"  placeholder="Password-  "required><br>
      
      {% if page == 'signup' %}
      <section id="#View_data">
              <div class="c o"> 
              <h2><u>SELECT ALL APPLICABLE FIELDS:</u></h2>
              <legend> LOGIN FORM </legend>
                <form id="loginform" action="/jasdb" method="POST">
                    <label>Display all?</label> 
                       <input type="radio" name="Display All" id="name" required> <br>
              
                    <label>Di<label> 
                        <input type="radio" name="Display All" id="name" required> <br>
        
                    <label>Display all?<label> 
                          <input type="radio" name="Display All" id="name" required> <br>

                    <label>Display all?<label> 
                            <input type="radio" name="Display All" id="name" required> <br>
                          </form>

      </fieldset>
      
      {% endif %}
      
  </body>
  
</html>


