<section id="login-section"></section>
    <nav id="Navigation Bar">
      <ul>
        <a href="View_data">
          <li>View Data</li>
        </a>
        <a href="Manupilate_data">
          <li>Manupilate Data</li>
  
      </fieldset><section id="login-section"></section>
      <nav id="Navigation Bar">
        <ul>
          <a href="View_data">
            <li>View Data</li>
          </a>
          <a href="Manupilate_data">
            <li>Manupilate Data</li>
            <div class="c o"> 
                <h2><u>LOGIN:</u></h2>
                <legend> LOGIN FORM </legend>
                  <form id="loginform"
                       <label>Name<label> 
                         <input type="text" name="name" id="name"  placeholder="Enter your name- "required> <br>
                
                      <label> Email </label>
                      <input type="text" name="Email" id="Email"  placeholder="Enter your emailid-  "required> <br>
            
                      <label> Name of the organisation </label>
                      <input type="text" name="nameoftheorg" id="nameoftheorg"  placeholder="Name of the organisation-  "required><br> 
            
                      <label> Password </label>
                      <input type="text" name="password" id="password"  placeholder="Password-  "required><br>
                      ction id="login-section"></section>
                <nav id="Navigation Bar">
                  <ul>
                    <a href="View_data">
                      <li>View Data</li>
                    </a>
                    <a href="Manupilate_data">
                      <li>Manupilate Data</li>
                    
                
            
                  {% elif page == 'LOGIN' %}
                  <section id="#Manupilate_data">
                          <div class="c o"> 
                          <h2><u>SELECT ALL APPLICABLE FIELDS:</u></h2>
                          <legend> Insert Details </legend>
                            <form id="view_form" action="/jasdb" method="POST">
                                <label>De</label> 
                                   <input type="radio" name="Display All" id="name" required> <br>
                          
                                <label>Display by group</label> 
                                    <input type="radio" name="Display All" id="name" required> <br>
                    
                                <label>Custom Query</label> 
                                      <input type="radio" name="Display All" id="name" required> <br>
            
            
                                      <section id="#View_data">
                                        <div class="c o"> 
                                        <h2><u>SELECT ALL APPLICABLE FIELDS:</u></h2>
                                        <legend> VIEW FORM </legend>
                                          <form id="view_form" action="/jasdb" method="POST">
                                              <label>Display all?</label> 
                                                 <input type="radio" name="Display All" id="name" required> <br>
                                        
                                              <label>Display by group</label> 
                                                  <input type="radio" name="Display All" id="name" required> <br>
                                  
                                              <label>Custom Query</label> 
                                                    <input type="radio" name="Display All" id="name" required> <br>
        
        </fieldset>
      
                                                
                                                
</body>
                                            
</html>
                                          
                                          
                                          

